---
import "98.css";
import "@styles/main.css";
import Taskbar from "@components/Taskbar.astro";
import MessageBox from "@components/MessageBox.astro";
import Store from "@components/Store.astro";
import ProductList from "@components/ProductList.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/agent.png" />
		<meta name="generator" content={Astro.generator} />
		<script defer src="https://analytics.moura.ar/script.js" data-website-id="34c3a336-db2c-4f1f-8ad7-d26c6ed4ae5b"></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<Taskbar />
		<MessageBox />
		<Store />
		<ProductList />
		<script>
			import "../scripts/index.ts";
		</script>
	</body>
</html>


